addict
appdirs
attrs
blinker
certifi
chardet
click
colorama
contourpy
cryptography
cycler
Cython
dbus-python
distro
docker-pycreds
evdev
exceptiongroup
fonttools
gitdb
GitPython
graphviz
httplib2
idna
imagesize
importlib-metadata
iniconfig
jeepney
jsonschema
keyring
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
macaroonbakery
Mako
MarkupSafe
matplotlib
mmcls==0.25.0
mmcv-full==1.7.0
more-itertools
netifaces
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib
olefile
opencv-python
packaging
pandas
pathtools
pexpect
Pillow
pluggy
prettytable
protobuf
psutil
ptyprocess
pycairo
pycocotools
PyJWT
pymacaroons
PyNaCl
pynput
pyparsing
pyRFC3339
pyrsistent
pytest
python-dateutil
python-xlib
pytz
pyxdg
PyYAML
reportlab
requests
scipy
SecretStorage
sentry-sdk
setproctitle
six
smmap==5.0.0
terminaltables
tomli
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
torchviz==0.0.2
typing_extensions
urllib3
wadllib
wandb==0.13.10
wcwidth
xdg
yapf
zipp

