{
    "path": "tools/detector/test.py",
    "config": "/pheno-wheat/configs/models/WheatSpikeNet.py",
    "checkpoint": "/pheno-wheat/checkpoints/WheatSpikeNet.pth",
    "work-dir": "/results/WheatSpikeNet/",
    "out": "/results/WheatSpikeNet/WheatSpikeNet.pkl",
    "show-dir": "/results/WheatSpikeNet/",
    "eval": "bbox segm",
    "results": "True",
    "tpfp": "True",
    "draw": "True",
    "show-score-thr": 0.5}
//    "cfg-options": {
//        "data.test.samples_per_gpu": 2
//    }
//}
