{
    "path": "tools/detector/train.py",
    "config": "configs/models/WheatSpikeNet.py",
    "cfg-options": {
        "resume_from": "None",
        "log_config": {
            "PROJECT": "",
            "ENTITY": "",
            "NAME": "",
            "ID": "random_string_for_diff_run (e.g. 2390dlkjw0)"
        }
    }
}
